/* Reset */

* {
  margin: 0;
  padding: 0;
  border: 0;
}
*,*:before,*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
header,nav,main,aside,footer {
  display: block;
}
input,button,textarea,select {
  font: inherit;
}
img {
  display: block;
  border-style: none;
}
button,input,optgroup,select,textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding:0;
  border:0;
}
a, a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
:focus,:active {
  outline: none;
}
a:focus,a:active {
  outline: none;
}
ul li {
  list-style: none;
}

/* Reset */
.page {
  margin: 0 auto;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(45deg, #1B1E40, #0B142B);
  font-family: 'Inter', 'Arial', sans-serif;
  color: white;
  font-style: normal;
}
.header {
  padding: 16px 10px 16px 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #27304F;
}
.header__logo {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.header__connects-list {
  position: relative;
  padding: 4px 10px 4px 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.header__connects-list-item:first-child::before {
  content: '';
	position: absolute;
	top: 2px;
  left: -9px;
  background-image: url(cloud.png);
  width: 16px;
  height: 16px;
}
.header__connects-list-item:last-child::before {
  content: '';
	position: absolute;
	top: 15px;
  left: -9px;
  background-image: url(devices.png);
  width: 16px;
  height: 16px;
}
.header__connects-list-item span {
  text-transform: uppercase;
}
.header__connect_state_connected {
  color: #54839E;
}
.header__connect_state_disconnected {
  color: #E478ED;
}
.header__connect_state_connected-not-all {
  color: #ECD8A2;
}
.search {
  margin: 16px 0 0 0;
  display: flex;
  min-width: 280px;
  width: 100%;
  background-color: #212D4B;
  border: 1px solid #27304F;
  border-radius: 26px;
  padding: 3px;
}
.search__img {
  margin: 0 10px 0 0;
}
.search__input {
  width: 100%;
  border: 0;
  background-color: #212D4B;
  color: #A85C86;
  outline: none;
}
.search__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  color: #A85C86;
}
.search__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  color: #A85C86;
}
.search__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  color: #A85C86;
}
.search__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  color: #A85C86;
}
.search__input:focus {
  outline: none;
}
.main {
  flex: 1 1;
  overflow: auto;
}
.devices {
  margin: 20px 10px 20px 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-flow: dense;
  justify-content: center;
}
.device {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 100px;
  border-radius: 13px;
  box-shadow: -2px 5px 0 0 #141730;
  padding: 6px;
  background: linear-gradient(to bottom, #151D35 25%, #212D4B 75%);
}

.device__state {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.state_online::before {
  content: '';
	position: absolute;
	top: 6px;
	right: 6px;
	width: 15px;
	height: 15px;
	background-color: #54839E;
	border-radius: 50%;
}
.state_offline::before {
  content: '';
	position: absolute;
	top: 6px;
	right: 6px;
	width: 15px;
	height: 15px;
	background-color: #E478ED;
	border-radius: 50%;
}
.state_offline::after {
  content: '';
	position: absolute;
  width: 100%;
  height: 75%;
  opacity: 0.8;
  top: 25px;
  left: 0;
  background: linear-gradient(to bottom, #151D35 25%, #212D4B 75%);
  border-radius: 0 0 13px 13px;
}

.device__location {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.device__img {
  cursor: pointer;
  border-radius: 13px;
  transition: background-color .6s ease, box-shadow .6s ease;
}

.device__name {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.device__fieldset {
}
.device__input_type_switch {
  height: 0;
  width: 0;
  visibility: hidden;
  display: none;
  outline: none;
}
.device__input_type_switch:checked + .device__img {
  background-color: #55829F;
  box-shadow: 0px 0px 10px 10px #55829F;
}
.device__value {
  position: absolute;
  top: 25px;
  right: 6px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}
.footer {
  flex-shrink: 0;
  border-top: 1px solid #27304F;
}
.navigation {
  margin: 8px 20px 8px 20px;
}
.navigation__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navigation__list-item {
}
.navigation__input {
  height: 0;
  width: 0;
  display: none;
  visibility: hidden;
}
.navigation__label {
	opacity: 0.2;
}
.navigation__input:checked + .navigation__label {
  opacity: 1;
}

